@font-face {
    font-family: 'Space Mono';
    src: url('./fonts/SpaceMono-Bold.ttf') format('truetype'),
        url('./fonts/SpaceMono-Regular.ttf') format('truetype');
}

:root {
    /* Primary */
    --strong-cyan: 172, 67%, 45%;

    /* Neutral */
    --very-dark-cyan: 183, 100%, 15%;
    --dark-grayish-cyan: 186, 14%, 43%;
    --grayish-cyan: 184, 14%, 56%;
    --light-grayish-cyan: 185, 41%, 84%;
    --white: 0, 0%, 100%;

    /* hsl */
    --hsl-active-state: hsl(172, 67%, 80%);

    /* Typography */
    --fs-form-inputs: 1.5rem;
    --fw-regular: 400;
    --fw-bold: 700;

    /* Spacing (8 point grid system) */
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 24px;
    --spacing-lg: 32px;
    --spacing-xl: 40px;
    --spacing-xxl: 48px;
}

/* CSS-reset classes*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Space Mono', sans-serif;
    background-color: hsl(var(--light-grayish-cyan));
}

img {
    margin: auto;
    padding: var(--spacing-xl);
}

div[data-spacing="container"] {
    margin-bottom: var(--spacing-lg);
}

.tip-container {
    border-radius: 24px 24px 0 0;
    background-color: hsl(var(--white));
    padding: var(--spacing-lg);
    width: 100%;
    min-height: 100vh;
}

/* Input number field style */
.input-container {
    position: relative;
}

svg {
    position: absolute;
    top: 60%;
    /* transform: translateY(-50%); */
    left: 1rem;
}

label[for="input_bill"],
label[for="input_people"] {
    color: hsl(var(--dark-grayish-cyan));
    display: inline-block;
    margin-bottom: var(--spacing-xs);
}

input[type='number'] {
    text-align: end;
    border: none;
    background-color: hsla(var(--grayish-cyan), 0.09);
    padding: 4px 16px;
    width: 100%;
    border-radius: 4px;
    font-size: var(--fs-form-inputs);
    color: hsl(var(--very-dark-cyan))
}

input[name="people"] {
    height: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.validation {
    color: hsla(0, 100%, 50%, 0.5);
}

input[type='number']:hover {
    cursor: pointer;
}

input:focus {
    outline-color: hsl(var(--strong-cyan));
}

.label-selection {
    margin-bottom: var(--spacing-sm);
    color: hsl(var(--dark-grayish-cyan));
}

.tip-selection {
    display: grid;
    gap: var(--spacing-sm);
    grid-template-columns: 1fr 1fr;
    ;
}

/* Radio input style */
.radio-button input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    height: 0;
    width: 0;
}

.radio-button label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(var(--very-dark-cyan));
    color: hsl(var(--white));
    font-size: var(--fs-form-inputs);
    font-weight: var(--fw-bold);
    border-radius: 4px;
    padding: 8px 0;
}

.radio-button label:hover {
    background-color: var(--hsl-active-state);
    color: hsl(var(--very-dark-cyan));
    transition: ease 0.2s;
    cursor: pointer;
}

.radio-button input:checked~label {
    background-color: hsl(var(--strong-cyan));
    color: hsl(var(--very-dark-cyan));
    transition: ease 0.1s;
}

/* Tip results card */
.tip-results {
    background-color: hsl(var(--very-dark-cyan));
    padding: var(--spacing-md);
    border-radius: 16px;
}

.label-amount {
    color: hsl(var(--white));
    margin-bottom: var(--spacing-md);
}

.label-amount span {
    color: hsla(var(--light-grayish-cyan), 0.5);
    font-size: 0.8rem;
}

.result {
    color: hsl(var(--strong-cyan));
    font-size: 1.8rem;
}

button {
    border: none;
    width: 100%;
    color: hsl(var(--very-dark-cyan));
    background-color: hsl(var(--strong-cyan));
    /* background-color: hsl(var(--strong-cyan)); */
    border-radius: 4px;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: var(--spacing-xs);
}

button:hover {
    background-color: var(--hsl-active-state);
    transition: ease 0.1s;
    cursor: pointer;
}

@media(min-width: 376px) {
    .tip-container {
        min-height: auto;
    }

    body {
        /* Nice way to center elements in a page */
        min-height: 100vh;
        display: grid;
        place-items: center;
    }
}